<h2>
	{{post.title}}
</h2>

<ul class="nav nav-pills">
	<li>
		<a href="/posts/{{post.id}}/edit">Edit Post</a>
	</li>
	<li>
		<a ng-click="destroyPost()">Delete Post</a>
	</li>
	<li>
		<a href="/posts">Back to Posts</a>
	</li>
</ul>

<p>
	<b>{{post.author}}</b> - {{post.created_at | date : 'mediumDate'}}
</p>

<p>
	{{post.body}}
</p>

<h3>
	Comments
</h3>

<div ng-controller="NewCommentCtrl">
	<form ng-submit="createComment()">
		<textarea data-ng-model="comment.body" required></textarea>
		<br/>
		<button type="submit" class="btn btn-success">Add Comment</button>
	</form>
</div>

<div ng-controller="CommentsCtrl">
	<ul>
		<li ng-repeat="comment in comments">
			{{comment.body}} | <a href="#">Edit</a>
		</li>
	</ul>
</div>
