test:
  adapter: postgresql
  encoding: unicode
  database: angular_blog_test
  pool: 5
  username: root
  password:

development:
  adapter: postgresql
  encoding: unicode
  database: angular_blog_development
  pool: 5
  username: root
  password:
